@page
@model V_Vuelos.Pages.Management.Gates.CreateModel
@{
}

@if (!Pages.IndexModel.logind || Pages.IndexModel.session.rol != 3 && Pages.IndexModel.session.rol < 3)
{
	<h3>:(</h3>
	<p>
		Please make sure your account has the <strong>required permission</strong> to access this page.
	</p>
	return;
}

<br />
<h2>New Gate</h2>

@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<form method="POST" data-ajax="false" enctype="multipart/form-data">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Código</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="cod" value="@Model.gateinfo.cod" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Estado</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="estado" value="@Model.gateinfo.estado" />
		</div>
	</div>

	@if (Model.successMessage.Length > 0)
	{
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>@Model.successMessage</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/Management/Gates" role="button">Cancel</a>
		</div>
	</div>
</form>