@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4" style="background-color:lightgray; color:black">Your Gateway to Paradise</h1>

    <br />

    <p>
        <img alt="The 1st Message." src="https://www.brightwaterholidays.com/media/4070/gardens-costa-rica-arenal-volcano-in-costa-rica-hero.jpg"
            style="width: 500px;height: 300px" />

        <img alt="The 2nd Message." src="https://media.istockphoto.com/id/1318298968/photo/alexandre-iii-bridge-in-paris-at-sunset.jpg?b=1&s=170667a&w=0&k=20&c=MoKxLOS65fcaoms24LFceNY_tCgj82tAKNRCPcTI1AM="
             style="width: 500px;height: 300px" />
    </p>
</div>
